section.page_content
    .container
        ul.breadcrumb
            li.breadcrumb-item
                a(href="#") Главная
            li.breadcrumb-item
                a(href="#") Каталог
            li.breadcrumb-item
                a(href="#content") #{page.title}
        h1 #{page.title}
        .row.news_list
                -for(var i=1;i<=5;i++)
                    .col-12
                        article.type_series
                            .row
                                .col-12.col-sm-12.col-md-12.col-xl-6
                                    a.thumbnail(href="#" style="background-image:url(img/katalog_img.png)")
                                .col-12.col-sm-12.col-md-12.col-xl-6.right_col
                                    p.s_title Серия "Советник"
                                    .colors
                                        p Цветовые решения:
                                        .colors_row
                                            span.color(style="background-image:url(img/color.png)")
                                            span.color(style="background-image:url(img/color.png)")
                                    .product_list
                                        .row
                                            -for(var i1=0;i1<=3;i1++)
                                                .col-6.col-sm-4.col-md-3.col-xl-4
                                                    a.item(href="#")
                                                        img(src="img/product_2.png")
                                                        span Стол брифинг 180х90х74,8

                                    a.more(href="#") Подробнее
        .content
            h2 Мебель для кабинета руководителя
            p Трудно сказать, что является главным показателем развития компании: команда профессиональных сотрудников, грамотный подход к управлению или финансовые результаты. Однако с уверенностью можно утверждать, что кабинет руководителя – это олицетворение успеха организации и лидерского таланта ее главы. Именно здесь принимаются важные для компании решения и проходит общение с клиентами и партнерами.
            p
                strong Поэтому офисная мебель для руководителя обязана быть воплощением стиля и соответствовать понятию «бизнес-класс»:
            ul
                li быть эргономичной, комфортной и способствующей максимальной концентрации на делах компании;
                li иметь продуманный дизайн с цветовой гаммой, гармонично сочетающейся с остальными элементами кабинета;
                li производиться из натуральных и долговечных комплектующих.
            p Мебель для настоящих руководителей от компании Pro-Trade устанавливает высокую планку качества и комфорта. Её изготовление проходит на современном европейском оборудовании из надежных и экологичных материалов (МДФ, ДСП).
            p Наша компания гарантирует высочайший уровень производственного контроля сборки и огромное разнообразие ассортимента. Грамотные специалисты помогут выбрать лучшие цветовые и компоновочные решения в зависимости от стиля и личных предпочтений клиента. Мебель для руководителей Pro-Trade можно купить на самых выгодных условиях: мы уверены в качестве нашей работы, и предоставляем гарантию до 5 лет на любые изделия.
            p Pro-Trade – притягивает успех!

