section.page_content
    .container
        ul.breadcrumb
            li.breadcrumb-item
                a(href="#") Главная
            li.breadcrumb-item
                a(href="#content") #{page.title}
        h1 #{page.title}
        .content
            button.add_review(data-toggle="modal" data-target="#feedback") Заполнить форму
            button.add_review(data-toggle="modal" data-target="#modal_default") Купить в один клик
            button.add_review(data-toggle="modal" data-target="#modal_default1") Обратная связь
            button.add_review(data-toggle="modal" data-target="#add_review_modal") Оставить отзыв
