<!DOCTYPE html>
html
    head
        - var page = { title: 'Каталог' }
        include inc/head.pug
    body#body
        include inc/header.pug
        include inc/katalog/cont.pug
        include inc/footer.pug
        include inc/scripts.pug