<!DOCTYPE html>
html
    head
        - var page = { title: 'Серия "Яппи"' }
        include inc/head.pug
    body#body
        include inc/header.pug
        include inc/product/cont.pug
        include inc/footer.pug
        include inc/scripts.pug