<!DOCTYPE html>
html
    head
        - var page = { title: 'Книга отзывов' }
        include inc/head.pug
    body#body
        include inc/header.pug
        include inc/reviews/cont.pug
        include inc/footer.pug
        include inc/scripts.pug