<!DOCTYPE html>
html
    head
        - var page = { title: 'Заказать консультацию' }
        include inc/head.pug
    body#body
        include inc/header.pug
        include inc/order/cont.pug
        include inc/footer.pug
        include inc/scripts.pug