<!DOCTYPE html>
html
    head
        - var page = { title: 'Новости' }
        include inc/head.pug
    body#body
        include inc/header.pug
        include inc/news/cont.pug
        include inc/footer.pug
        include inc/scripts.pug