<!DOCTYPE html>
html
    head
        - var page = { title: 'Сотрудничество' }
        include inc/head.pug
    body#body
        include inc/header.pug
        include inc/buyers/cont.pug
        include inc/footer.pug
        include inc/scripts.pug