<!DOCTYPE html>
html
    head
        - var page = { title: 'Услуги' }
        include inc/head.pug
    body#body
        include inc/header.pug
        include inc/serv/cont.pug
        include inc/footer.pug
        include inc/scripts.pug