section.page_content
    .container
        ul.breadcrumb
            li.breadcrumb-item
                a(href="#") Главная
            li.breadcrumb-item
                a(href="#content") #{page.title}
        h1 #{page.title}
        .content
            .row
                .col-12
                    p Дилеры "Pro-Trade" работают только в соответствии с высокими корпоративными стандартами компании. Широкий выбор представленных коллекций, непрерывный контроль уровня сервиса и качества обслуживания позволяет создавать комфортные условия выбора Вашего неповторимого и комфортного рабочего места!
                    p В настоящее время наша дилерская сеть действует в крупнейших городах Беларуси.

                .col-12.map.mt-3
                    script(type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A49e80919182dd234343b00e029dfd3db7e677f560af2cd178e018940a2ebf908&amp;width=100%&amp;height=500&amp;lang=ru_RU&amp;scroll=false")


                .col-12.mt-100.mb-200
                    .row
                        .col-6
                           .popover
                               span.close
                               p.title "Офисная комплектация" ЧТУП
                               ul.contacts_list
                                   li.location 246017, г. Минск, ул. Д. Бедного, 24/24
                                   li.phone + 375 (0152) 48 59 79 тел./факс
                                   li.m_phone + 375 (44) 760 02 52
                                   li.mail
                                       a(href="mailto:favorit92@mail.ru") favorit92@mail.ru,
                                       a(href="mailto:mas_67@mail.ru") mas_67@mail.ru
                               .arrow
                           // popover для карты
                        .col-6
                            p http://prntscr.com/kloomm
                            img(src="img/marker.png")

















