section.page_content
    .container
        ul.breadcrumb
            li.breadcrumb-item
                a(href="#") Главная
            li.breadcrumb-item
                a(href="#content") #{page.title}
        h1 #{page.title}

        .row.news_list
                -for(var i=1;i<=12;i++)
                    .col-12.col-sm-6.col-md-6.col-xl-4
                        article.type_news
                            a.thumbnail(href="#" style="background-image:url(img/katalog_img.png)")
                            div
                                p.post_title.mb-3 Мебель по индивидуальному заказу
                                .desc производим мебель для офисов любых площадей и предназначения, далеко-далеко за словесными горами.
                                a.more(href="#") Подробнее
        .content
            h2 Это заголовок второго уровня
            p Офис современной компании представляет собой сложное и многофункциональное помещение. Планировка, разбивка на рабочие зоны, а также подбор и приобретение мебели для офиса - довольно ответственные задачи. И то, насколько серьезно вы к ним подойдете, влияет на эффективность труда ваших подчиненных. Ведь от комфорта и удобства рабочего места напрямую зависит настроение ваших сотрудников, а значит и их желание принести как можно больше пользы для компании.
            p Предприятие «Pro-Trade» специализируется на производстве и реализации высококачественной мебели для офиса. Наша продукция соответствует самым высоким требованиям клиентов: она функциональна, эргономична и надежна. Кроме того, наша мебель для офиса отличаются особым дизайном, благодаря чему в офисе создается деловая атмосфера. Компьютерные столы, кресла, стулья, мебель для переговорок, кабинетов руководящих отделов и т.д. - каждая модель имеет свои особенности и качественные отличия, но одно все же объединяет их - это стремление сделать работу в офисе значительно приятнее.
            p В нашем каталоге офисной мебели вы можете найти мебель различных ценовых категорий: от более скромных, но не менее качественных бюджетных вариантов до роскошных наборов элит-класса. Имея огромное число различных коллекций, мы с уверенностью заявляем, что у нас найдется далеко не один и не два варианта для обустройства рабочего помещения, оформленного в любом из ныне известных стилей. Структура каталога офисной мебели и система поиска детально продуманы. Поэтому вам не составит труда найти в нем все, что вам нужно, и полностью укомплектовать офис.

