ul.c_nav.level1
    - var level1 = ["Категория","Категория","Категория", "Категория" ,"Категория"];
    - var level2 = ["Подкатегория","Подкатегория","Подкатегория", "Подкатегория" ,"Подкатегория"];
    - var level3 = ["Автоохранные системы","Автоохранные системы","Автоохранные системы", "Автоохранные системы" ,"Автоохранные системы"];
    for c_level1, index in level1
        li
            a(href="#")=c_level1
            span.arrow
            ul.sub_menu.level2
                for c_level2, index in level2
                    li
                        a(href="#")=c_level2