-var f_menu_1 = ['Мебель для персонала','Мебель для среднего управленческого звена','Мебель для кабинета руководителя','Мебель для приемных (ресепшн)','Мебель для переговорных (стол для переговоров)','Офисные кресла','Офисные стулья'];
-var f_menu_2 = ['НОВИНКИ!','Мебель для гостиниц','Мебель по индивидуальным проектам','Функциональные модули','Кухни для офиса (шкафы, стеллажи для офиса','Офисные столы','Офисная мебель в лизинг'];
footer
    .container
        .row
            .col-12.col-sm-12.col-md-12.col-xl-6
                p.f_title Каталог
                .row
                    .col-12.col-sm-12.col-md-6.col-xl-6
                        ul.f_nav
                            for menu_item in f_menu_1
                                li
                                    a(href="" + menu_item + '.html')=menu_item
                    .col-12.col-sm-12.col-md-6.col-xl-6
                        ul.f_nav
                            for menu_item_2 in f_menu_2
                                li
                                    a(href="" + menu_item_2 + '.html')=menu_item_2

                .row
                    .col-12
                        a.btn_default_nobg(href="#") Скачать каталог (pdf)
                .row.contact_left_col
                    .col-12.col-sm-12.col-md-6.col-xl-6
                        p НАписать нам
                        a.mail(href="mailto:info@pro-trade.ru") info@pro-trade.ru
                    .col-12.col-sm-12.col-md-6.col-xl-6
                        p Мы в соц. Сетях
                        ul.social
                            li
                                a.instagram(href="#")
            .col-12.col-sm-12.col-md-12.col-xl-6
                p.f_title Контакты
                .row.f_contacts_row
                    -for(var i=0;i<=4;i++)
                        .col-12.col-sm-6.col-md-6.col-xl-6.item
                            span.city Город
                            ul.contacts_list
                                li.location ул. Врублевского, 5а
                                li.phone + 375 (0152) 48 59 79 тел./факс <br> + 375 (0152) 48 05 50
                                li.m_phone + 375 (44) 760 02 52


.copyright
    .container
        .row
            .col-12.col-m-12.col-md-6.col-xl-6
                p ©2016 Pro-Trade

            .col-12.col-m-12.col-md-6.col-xl-6
                p.seologic
                    a(href="#") Разработка сайта - Seologic



.modal.fade#add_review_modal(role="dialog" aria-labelledby="modalLabel" aria-hidden="true")
    .modal-dialog.modal-lg
        .modal-content
            button.close(data-dismiss="modal" aria-label="Close")
            .modal-body
                p.title Оставить отзыв
                form.modal_form
                    .row
                        .col-12.col-sm-12.col-md-6
                            .row
                                .col-12.field
                                    label Ваше имя<i>*</i>
                                    input.form-control(type="text")
                                .col-12.field
                                    label Телефон<i>*</i>
                                    input.form-control(type="text")
                                .col-12.field
                                    label E-mail<i>*</i>
                                    input.form-control(type="text")

                        .col-12.col-sm-12.col-md-6
                            .row
                                .col-12.field
                                    label Текст отзыва<i>*</i>
                                    textarea.form-control
                                .col-12.field.rating_field
                                    label Рейтинг отзыва<i>*</i>
                                    #reviewStars-input
                                        input(type="radio" name="stars" id="star-4")
                                        label(title="gorgeous" for="star-4")
                                        input(type="radio" name="stars" id="star-3")
                                        label(title="good" for="star-3")
                                        input(type="radio" name="stars" id="star-2")
                                        label(title="regular" for="star-2")
                                        input(type="radio" name="stars" id="star-1")
                                        label(title="poor" for="star-1")
                                        input(type="radio" name="stars" id="star-0")
                                        label(title="bad" for="star-0")
                        .col-12.btn_block
                            button.btn_default(type="submit") отправить


.modal.fade#feedback(role="dialog" aria-labelledby="modalLabel" aria-hidden="true")
    .modal-dialog.modal-lg
        .modal-content
            button.close(data-dismiss="modal" aria-label="Close")
            .modal-body
                p.title Заказать консультацию<br> по телефону
                form.modal_form
                    .row
                        .col-12.col-sm-12.col-md-6.field
                            label Ваше имя<i>*</i>
                            input.form-control(type="text")
                        .col-12.col-sm-12.col-md-6.field
                            label E-mail<i>*</i>
                            input.form-control(type="text")
                        .col-12.col-sm-12.col-md-6.field
                            label Организация<i>*</i>
                            input.form-control(type="text")
                        .col-12.col-sm-12.col-md-6.field
                            label Телефон<i>*</i>
                            input.form-control(type="text")
                        .col-12.col-sm-12.col-md-12.col-xl-6
                            .row
                                .col-12.field
                                    label Город<i>*</i>
                                    input.form-control(type="text")
                                .col-12.field
                                    label Удобное время<i>*</i>
                                    .row
                                        .col-12.col-sm-6
                                            .time_field
                                                span с
                                                input.form-control(type="text")
                                        .col-12.col-sm-6
                                            .time_field
                                                span до
                                                input.form-control(type="text")

                        .col-12.col-sm-12.col-md-12.col-xl-6
                            .row
                                .col-12.field
                                    label Комментарий
                                    textarea.form-control
                                .col-12.field.rating_field
                        .col-12.btn_block
                            button.btn_default(type="submit") отправить


.modal.fade#price(role="dialog" aria-labelledby="modalLabel" aria-hidden="true")
    .modal-dialog.modal-lg
        .modal-content
            button.close(data-dismiss="modal" aria-label="Close")
            .modal-body
                p.title Запрос прайс-листа
                form.modal_form
                    .row
                        .col-12.col-sm-12.col-md-6.field
                            label Ваше имя<i>*</i>
                            input.form-control(type="text")
                        .col-12.col-sm-12.col-md-6.field
                            label E-mail<i>*</i>
                            input.form-control(type="text")
                        .col-12.col-sm-12.col-md-6.field
                            label Организация<i>*</i>
                            input.form-control(type="text")
                        .col-12.col-sm-12.col-md-6.field
                            label Телефон<i>*</i>
                            input.form-control(type="text")
                        .col-12.col-sm-12.col-md-6.field
                            label Город<i>*</i>
                            input.form-control(type="text")
                        .col-12.col-sm-12.col-md-6.field
                            label Комментарий
                            input.form-control(type="text")
                        .col-12.btn_block
                            button.btn_default(type="submit") отправить

.modal.fade#modal_default(role="dialog" aria-labelledby="modalLabel" aria-hidden="true")
    .modal-dialog.modal-lg
        .modal-content
            button.close(data-dismiss="modal" aria-label="Close")
            .modal-body
                p.title Купить в 1 клик
                form.modal_form
                    .row
                        .col-12.col-sm-12.col-md-6.field
                            label Ваше имя<i>*</i>
                            input.form-control(type="text")
                        .col-12.col-sm-12.col-md-6.field
                            label E-mail<i>*</i>
                            input.form-control(type="text")
                        .col-12.col-sm-12.col-md-6.field
                            label Телефон<i>*</i>
                            input.form-control(type="text")
                        .col-12.col-sm-12.col-md-6.field
                            label Сообщение
                            input.form-control(type="text")
                        .col-12.btn_block
                            button.btn_default(type="submit") отправить

.modal.fade#modal_default1(role="dialog" aria-labelledby="modalLabel" aria-hidden="true")
    .modal-dialog.modal-lg
        .modal-content
            button.close(data-dismiss="modal" aria-label="Close")
            .modal-body
                p.title Обратная связь
                form.modal_form
                    .row
                        .col-12.col-sm-12.col-md-6.field
                            label Ваше имя<i>*</i>
                            input.form-control(type="text")
                        .col-12.col-sm-12.col-md-6.field
                            label E-mail<i>*</i>
                            input.form-control(type="text")
                        .col-12.col-sm-12.col-md-6.field
                            label Телефон<i>*</i>
                            input.form-control(type="text")
                        .col-12.col-sm-12.col-md-6.field
                            label Сообщение
                            input.form-control(type="text")
                        .col-12.btn_block
                            button.btn_default(type="submit") отправить