section.page_content
    .container
        ul.breadcrumb
            li.breadcrumb-item
                a(href="#") Главная
            li.breadcrumb-item
                a(href="#content") #{page.title}
        h1 #{page.title}
        .content
            p Более чем 20 лет на рынке позволили нам прочно стать на ноги и найти свою нишу. Мы очень благодарны своим партнерам и клиентам за взаимовыгодное сотрудничество. Мы стараемся постоянно улучшать свой сервис для вас. Сегодня наша сфера деятельности — это уже не только изготовление различной мебели, мы предоставляем целый комплекс сопутствующих услуг
            -var serv = ['Производство мебели по вашему макету', 'Разработка оригинального дизайна мебели для вашего офиса', 'Доставка и качественная сборка изделий на объекте','Изготовление фасадов мебели из различных основ'];
            .row.serv_list
                -for(var i=0;i<=3;i++)
                    a.col-12.col-sm-12.col-md-6.col-xl-6.s_item(href="#")
                        .d_flex_container
                            .img
                                img(src="img/service-"+i+'.svg')
                            .serv_name=serv[i]

