section.page_content
    .container
        ul.breadcrumb
            li.breadcrumb-item
                a(href="#") Главная
            li.breadcrumb-item
                a(href="#content") #{page.title}
        h1 #{page.title}
        .content
            .row
                .col-12.col-sm-12.col-md-12.col-xl-4
                    p.c_title Контактные данные
                    ul.c_contacts
                        li.tel + 375 (17) 226 03 06<br> + 375 (17) 226 03 05<br> + 375 (17) 226 03 06<br> + 375 (17) 226 02 83<br> + 375 (17) 226 02 88
                        li.phone + 375 (29) 616 84 16
                        li.mail
                            a(href="mailto:info@pro-trade.ru") info@pro-trade.ru
                    p.c_title Время работы
                    p.c_time Пн. - Пт.: 9.00 - 18.00
                    p.c_title Адрес
                    p.c_loc г. Минск, ул. Кульман, 3

                .col-12.col-sm-12.col-md-12.col-xl-8.map
                    script(type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A49e80919182dd234343b00e029dfd3db7e677f560af2cd178e018940a2ebf908&amp;width=100%&amp;height=500&amp;lang=ru_RU&amp;scroll=false")












